@import "main.css";
@import "navbar.css";
@import "footer.css";

.page-header {
  background: linear-gradient(
      rgba(20, 70, 45, 0.85),
      rgba(20, 90, 45, 0.85)
    );
  color: var(--white);
  padding: 4rem 0;
}

.page-header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.image-box img {
  border-radius: var(--radius);
}
.timeline {
  max-width: 700px;
  margin: auto;
  border-left: 3px solid var(--green);
  padding-left: 2rem;
}

.timeline-item {
  margin-bottom: 2rem;
  position: relative;
}

.timeline-item::before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--gold);
  border-radius: 50%;
  position: absolute;
  left: -2.6rem;
  top: 0.3rem;
}

.timeline-year {
  font-weight: 700;
  color: var(--green);
}
