@import "about.css";

.exec-card {
  background: var(--white);
  padding: 2rem;
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  transition: var(--transition);
}

div a {
  all: unset;
  cursor: pointer; /* Restores the hand cursor functionality */
}

.exec-card:hover {
  transform: translateY(-8px);
}

.exec-card img {
  display: block;
  margin: auto;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 4px solid var(--gold);
}

.exec-role {
  display: block;
  font-weight: 600;
  color: var(--green);
  margin-bottom: 0.8rem;
}
